%button {
  // scss-lint:disable ImportantRule
  @extend %z-depth-0;
  @include tap-highlight-color(transparent);
  @include transition(.2s ease-out);
  background-color: $button-color;
  border: 0;
  border-radius: $button-radius !important;
  color: $button-color-raised;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 15px;
  font-weight: $button-font-weight;
  height: $button-height;
  letter-spacing: .5px;
  line-height: $button-line-height;
  outline: 0;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;

  &:hover {
    @extend %z-depth-1;
    background-color: lighten($button-color, 5%);
	}
}

.button,
.button-large {
  i {
    font-size: $button-font-size-shared;
    line-height: inherit;
	}
}

.button-large,
[type=submit].button {
  @extend %button;
  height: $button-height * 1.5;
  line-height: 56px;
}
