.button {
	background-color: $button-color-default;
	border-radius: $button-radius;
	color: $white;
	display: inline-block;
	font-weight: $button-font-weight;
	height: $button-height;
	line-height: $button-height;
	text-align: center;
	transition: background-color $base-duration $base-timing;
	width: $button-width;

	&:hover {
		background-color: $button-color-hover;
	}

	&:active {
		background-color: $button-color-active;
	}
}
