.button {
	transition: all .15s ease-in-out;
	background-color: #c73f42;
	border-radius: 8px;
	width: 200px;
	height: 55px;
	display: inline-block;
	text-align: center;
	line-height: 53px;
	font-weight: 400;
	color: white;

	&:hover {
		background-color: darken(#c73f42,10%);
	}
}
