.waves-effect {
  @include tap-highlight-color(transparent);
  @include transition(all .3s ease-out);
  @include user-select(none);
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  will-change: opacity, transform;
  z-index: $waves-effect-zindex;

  .waves-ripple {
    @include transform(scale(0));
    @include transition-property(transform, opacity);
    @include transition(all .7s ease-out);
    background: rgba(0, 0, 0, .2);
    border-radius: 50%;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 20px;
  }

  // Waves Colors
  &.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, .45);
  }

  &.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, .70);
  }

  &.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, .70);
  }

  &.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, .70);
  }

  &.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, .70);
  }

  &.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, .70);
  }

  &.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, .70);
  }

  // Style input button bug.
  [type="button"],
  [type="reset"],
  [type="submit"] {
    background: none;
    border: 0;
    font-size: inherit;
    font-style: normal;
    text-transform: inherit;
  }
}

.waves-notransition {
  @include transition(none #{"!important"});
}

.waves-circle {
  @include transform(translateZ(0));
  border-radius: 50%;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  width: 2.5em;
}

.waves-input-wrapper {
  border-radius: .2em;
  vertical-align: bottom;

  .waves-button-input {
    left: 0;
    position: relative;
    top: 0;
    z-index: $waves-effect-zindex;
  }
}

.waves-block {
  display: block;
}

// Firefox Bug: link not triggered.
// scss-lint:disable QualifyingElement
a.waves-effect .waves-ripple {
  z-index: -1;
}
// scss-lint:enable QualifyingElement
