body {
	@include font-feature-settings( 'liga kern pnum' );
	@include font-smoothing;
	background-color: $gray-darkest;
	color: $base-font-color;
	font-size: $base-font-size;
	line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: $base-font-size;
	line-height: $heading-line-height;
	margin: 0 0 $small-spacing;
	text-transform: uppercase;
}

h2 {
	font-size: em(32px);
}

p {
	font-weight: 200;
	margin: 0 0 $small-spacing;
}

ul {
	@include padding-start(0);
	@include margin-before(0);
	@include margin-after(0);
}

a {
	@include transition(color $base-duration $base-timing);
	color: rgba($base-font-color, .6);
	text-decoration: none;

	&:active,
	&:focus,
	&:hover {
		color: $base-font-color;
	}
}

img {
	margin: 0;
	max-width: 100%;
	outline-style: none;
	width: 100%;
}

section {
	height: 100vh;
}

#site {
	@include outer-container( 100% );
}
