@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  font-size: 1em; }

body {
  -webkit-font-feature-settings: "liga kern pnum";
  -moz-font-feature-settings: "liga kern pnum";
  -ms-font-feature-settings: "liga kern pnum";
  font-feature-settings: "liga kern pnum";
  /* none, antialiased, subpixel-antialiased */
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: always;
  background-color: #1c1513;
  color: #ffffff;
  line-height: 1.45; }

h1,
h2,
h3,
h4 {
  font-size: 1em;
  line-height: 1.2;
  margin: 1.414em 0 0.5em;
  text-transform: uppercase; }

h1 {
  margin-top: 0;
  font-size: 3.998em; }

h2 {
  font-size: 2.827em; }

h3 {
  font-size: 1.999em; }

h4 {
  font-size: 1.414em; }

small,
.font_small {
  font-size: 0.707em; }

p {
  font-weight: 200;
  margin-bottom: 1.3em; }

ul {
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -o-padding-start: 0;
  padding-start: 0;
  -webkit-margin-before: 0;
  -moz-margin-before: 0;
  -o-margin-before: 0;
  margin-before: 0;
  -webkit-margin-after: 0;
  -moz-margin-after: 0;
  -o-margin-after: 0;
  margin-after: 0; }

a {
  -webkit-transition: color 150ms ease;
  -moz-transition: color 150ms ease;
  transition: color 150ms ease;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
  text-decoration: none; }
  a:active, a:focus, a:hover {
    color: #ffffff; }

img {
  margin: 0;
  max-width: 100%;
  outline-style: none;
  width: 100%; }

section {
  height: 100vh; }

#site {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #site::after {
    clear: both;
    content: "";
    display: table; }

header {
  box-shadow: inset 0 10em 5em -2em rgba(0, 0, 0, 0.2);
  height: 200px;
  width: 100%;
  padding-top: 30px;
  position: absolute;
  z-index: 1; }

header h1 {
  margin: 0;
  text-align: center; }

header img {
  -webkit-transition: opacity 150ms ease;
  -moz-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
  opacity: 0.9;
  width: 175px; }
  header img:hover {
    opacity: 1; }

nav {
  margin-top: -80px; }
  nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; }
  nav li {
    list-style-type: none;
    margin-left: 2.1875em; }
    nav li:first-child {
      margin-left: 0; }
    nav li:nth-child(3) {
      margin-right: 7.65625em; }
    nav li:nth-child(4) {
      margin-left: 7.65625em; }
  nav a {
    font-size: 0.75em;
    letter-spacing: 0.125em;
    text-transform: uppercase; }
    nav a.active {
      color: #ffffff; }

.slick-slider {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  display: block;
  position: relative; }

.slick-list {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: hand; }
  .slick-loading .slick-list {
    background: #ffffff url("/assets/ajax-loader.gif") center center no-repeat; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  display: block;
  left: 0;
  position: relative;
  top: 0; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    border: 1px solid transparent;
    display: block;
    height: auto; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-prev,
.slick-next {
  background: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  margin-top: -10px;
  outline: none;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 20px;
  z-index: 1; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    background: transparent;
    color: transparent;
    outline: none; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev:before,
  .slick-next:before {
    /* none, antialiased, subpixel-antialiased */
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-smooth: always;
    color: #ffffff;
    font-family: 'squarespace-ui-font';
    font-size: 25px;
    line-height: 1;
    opacity: 0.75; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev {
  left: 9px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: ""; }
    [dir="rtl"] .slick-prev:before {
      content: ""; }

.slick-next {
  right: 18px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: ""; }
    [dir="rtl"] .slick-next:before {
      content: ""; }

#about {
  position: relative;
  text-align: center; }
  #about .section-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  #about .section-copy {
    margin: 0 auto;
    padding: 10.3125em 0;
    position: relative;
    width: 50%; }
  #about .section-image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(32, 23, 19, 0.7); }
