@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  font-size: 1em; }
  html.no-scroll {
    overflow: hidden; }

.no-scroll body {
  overflow: hidden; }

body {
  -webkit-font-feature-settings: "liga kern pnum";
  -moz-font-feature-settings: "liga kern pnum";
  -ms-font-feature-settings: "liga kern pnum";
  font-feature-settings: "liga kern pnum";
  /* none, antialiased, subpixel-antialiased */
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  font-smoothing: antialiased;
  background-color: #060606;
  color: #ffffff;
  line-height: 1.45; }

main {
  overflow: hidden; }

h1,
h2,
h3,
h4 {
  font-size: 1em;
  line-height: 1.2;
  margin: 1.414em 0 0.5em;
  text-transform: uppercase; }

h1 {
  font-size: 3.998em;
  margin-top: 0; }

h2 {
  font-size: 2.827em; }

h3 {
  font-size: 1.999em; }

h4 {
  font-size: 1.414em; }

small {
  font-size: 0.707em; }

p {
  font-weight: 200;
  margin-bottom: 1.3em; }

ul {
  -moz-padding-start: 0;
  -o-padding-start: 0;
  -webkit-padding-start: 0;
  padding-start: 0;
  -moz-margin-before: 0;
  -o-margin-before: 0;
  -webkit-margin-before: 0;
  margin-before: 0;
  -moz-margin-after: 0;
  -o-margin-after: 0;
  -webkit-margin-after: 0;
  margin-after: 0; }

a {
  -webkit-transition: color 150ms ease;
  -moz-transition: color 150ms ease;
  transition: color 150ms ease;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 600;
  text-decoration: none; }
  a:active, a:focus, a:hover {
    color: #ffffff; }

img {
  margin: 0;
  max-width: 100%;
  outline-style: none;
  width: 100%; }

section {
  min-height: 100vh;
  overflow: hidden;
  position: relative; }

#site {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: opacity 750ms ease;
  -moz-transition: opacity 750ms ease;
  transition: opacity 750ms ease;
  opacity: 0; }
  #site::after {
    clear: both;
    content: "";
    display: table; }

#loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #060606;
  overflow: hidden;
  z-index: 990; }

#loader-percentage {
  position: absolute;
  bottom: 8px;
  right: 15px;
  color: #FFF;
  font-size: 18px;
  font-weight: 400; }

#loader-percentage-line {
  width: 0;
  height: 2px;
  background-color: #dd2f37;
  position: absolute;
  left: 0;
  top: 50%;
  margin: 0 0 0 -1px;
  overflow: visible !important; }

header {
  box-shadow: inset 0 10em 5em -3.5em rgba(0, 0, 0, 0.3);
  height: 9.375em;
  position: absolute;
  width: 100%;
  z-index: 1; }
  @media screen and (max-width: 480px) {
    header {
      z-index: 3; } }

.button {
  -webkit-transition: background-color 150ms ease;
  -moz-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  background-color: #c73f42;
  border-radius: 8px;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  height: 55px;
  line-height: 55px;
  text-align: center;
  width: 200px; }
  .button:hover {
    background-color: #a33032; }
  .button:active {
    background-color: #902a2c; }

#logo {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  -webkit-transition: opacity 150ms ease;
  -moz-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  top: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  opacity: 0.8;
  display: none;
  width: 160px;
  z-index: 1; }
  #logo:hover {
    opacity: 1; }
  #logo a {
    display: block; }
  @media screen and (max-width: 480px) {
    #logo {
      width: 6rem; } }

nav.top-navigation {
  -webkit-transition: padding 300ms ease;
  -moz-transition: padding 300ms ease;
  transition: padding 300ms ease;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  top: 50%;
  position: absolute;
  width: 100%; }
  nav.top-navigation ul {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
  nav.top-navigation li {
    -webkit-transition: margin 300ms ease;
    -moz-transition: margin 300ms ease;
    transition: margin 300ms ease;
    list-style-type: none;
    margin-left: 2.1875em; }
    nav.top-navigation li:first-child {
      margin-left: 0; }
    nav.top-navigation li:nth-child(3) {
      margin-right: 7.1875em; }
    nav.top-navigation li:nth-child(4) {
      margin-left: 7.1875em; }
    nav.top-navigation li.active a {
      color: #ffffff;
      font-weight: bold; }
  nav.top-navigation a {
    font-size: 0.75em;
    letter-spacing: 0.125em;
    text-transform: uppercase; }
  nav.top-navigation.float {
    background-color: #1c1513;
    padding: 10px 0;
    margin-top: 20px !important; }
    nav.top-navigation.float a {
      font-weight: 500; }
    nav.top-navigation.float li:nth-child(3) {
      margin-right: 0; }
    nav.top-navigation.float li:nth-child(4) {
      margin-left: 2.1875em; }

@media screen and (max-width: 1060px) {
  .scrollmagic-pin-spacer {
    display: none !important; } }

nav.overlay-navigation {
  display: none;
  background-color: rgba(28, 21, 19, 0.93);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 2; }
  nav.overlay-navigation ul {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    font-size: 1.3rem;
    text-align: center; }
  nav.overlay-navigation li {
    margin: 0 0 1rem 0; }
  nav.overlay-navigation a {
    font-weight: 400; }

.hamburger-menu {
  display: none;
  position: absolute;
  margin-top: 1.25em;
  margin-left: 1.25em;
  width: 23px;
  height: 17.25px;
  cursor: pointer;
  z-index: 3; }
  .hamburger-menu b {
    position: absolute;
    left: 0;
    width: 23px;
    height: 2px;
    background-color: white; }
    .hamburger-menu b:nth-child(1) {
      top: 0; }
    .hamburger-menu b:nth-child(2) {
      top: 50%; }
    .hamburger-menu b:nth-child(3) {
      top: 100%; }
  .hamburger-menu.active + nav.overlay-navigation {
    display: block; }
  @media screen and (max-width: 1060px) {
    .hamburger-menu {
      display: block; } }

#splash {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2; }
  #splash > div {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    height: 90vh;
    position: absolute;
    width: 92vw; }

.slick-slider {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
  display: block;
  position: relative; }

.slick-list {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: hand; }
  .slick-loading .slick-list {
    background: #ffffff url("/assets/ajax-loader.gif") center center no-repeat; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  display: block;
  left: 0;
  position: relative;
  top: 0; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    border: 1px solid transparent;
    display: block;
    height: auto; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-prev,
.slick-next {
  background: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  margin-top: -10px;
  outline: none;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 20px;
  z-index: 1; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    background: transparent;
    color: transparent;
    outline: none; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev:before,
  .slick-next:before {
    /* none, antialiased, subpixel-antialiased */
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
    font-smoothing: antialiased;
    color: #ffffff;
    font-family: 'squarespace-ui-font';
    font-size: 25px;
    line-height: 1;
    opacity: 0.75; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev {
  left: 9px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: ""; }
    [dir="rtl"] .slick-prev:before {
      content: ""; }

.slick-next {
  right: 18px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: ""; }
    [dir="rtl"] .slick-next:before {
      content: ""; }

section.cover-image {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible; }
  section.cover-image:after {
    content: "";
    display: block; }

section.contrasting-title {
  margin-top: 100px; }
  @media screen and (max-width: 480px) {
    section.contrasting-title {
      margin-top: 72px; } }

section h2.contrasting-title {
  background-color: #ffffff;
  border-bottom: 2px solid #dd2f37;
  color: #dd2f37;
  font-weight: 500;
  height: 100px;
  line-height: 164px;
  margin: 0;
  position: absolute;
  text-indent: 10%;
  top: -100px;
  width: 100%; }
  @media screen and (max-width: 480px) {
    section h2.contrasting-title {
      font-size: 2em;
      height: 72px;
      line-height: 117px;
      top: -72px; } }

#our-story .gallery-container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 70%;
  text-align: right;
  width: 27.5em; }
  #our-story .gallery-container a {
    -webkit-transition: border-color 150ms ease;
    -moz-transition: border-color 150ms ease;
    transition: border-color 150ms ease;
    border: 0.5em solid rgba(255, 255, 255, 0.65);
    display: inline-block;
    height: 100%;
    max-width: 16.75em;
    max-height: 16.75em;
    min-height: 16.75em;
    width: 100%; }
    #our-story .gallery-container a:first-child {
      margin-bottom: 2.1875em; }
    #our-story .gallery-container a:hover {
      border-color: rgba(255, 255, 255, 0.9); }
  #our-story .gallery-container:after {
    display: block;
    content: '';
    background: url("/assets/story-names.svg") no-repeat left 15.1875em scroll;
    background-size: 35%;
    padding-top: 123.966942149%;
    width: 100%;
    top: 0;
    position: absolute;
    z-index: -1; }
  @media screen and (max-width: 480px) {
    #our-story .gallery-container {
      text-align: center;
      left: 50%; }
      #our-story .gallery-container:after {
        display: none; } }

#our-story .overlay {
  background-color: rgba(28, 21, 19, 0.93);
  display: none;
  height: 100%;
  padding: 2rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  #our-story .overlay .overlay-content {
    max-width: 50%;
    margin: 5rem auto;
    position: static; }
    #our-story .overlay .overlay-content p {
      color: rgba(255, 255, 255, 0.6);
      font-weight: 400; }
      #our-story .overlay .overlay-content p strong {
        color: #ffffff; }
  @media screen and (max-width: 480px) {
    #our-story .overlay .overlay-content {
      max-width: none;
      margin: 1rem auto; } }

#our-story:after {
  padding-top: 55.5170020819%; }

#our-story .close-overlay {
  position: absolute;
  margin-top: 1.25em;
  margin-left: 1.25em;
  width: 23px;
  height: 17.25px;
  cursor: pointer;
  z-index: 3;
  right: 10%;
  top: 3%; }
  #our-story .close-overlay b {
    position: absolute;
    left: 0;
    width: 23px;
    height: 2px;
    background-color: white; }
    #our-story .close-overlay b:nth-child(1) {
      top: 0; }
    #our-story .close-overlay b:nth-child(2) {
      top: 50%; }
    #our-story .close-overlay b:nth-child(3) {
      top: 100%; }

section#accommodations h3 {
  font-size: 1.75em;
  margin-bottom: 0;
  text-transform: none; }
  @media screen and (max-width: 480px) {
    section#accommodations h3 {
      font-size: 1.64em; } }

section#accommodations p {
  font-size: 1.125em;
  font-weight: 400;
  margin-top: 0; }

section#accommodations .content-container {
  background-color: rgba(28, 21, 19, 0.5);
  height: 100%;
  position: absolute;
  width: 100%; }
  section#accommodations .content-container .content {
    margin: 22% 10%;
    max-width: 400px; }
    section#accommodations .content-container .content h3, section#accommodations .content-container .content p {
      text-shadow: 1px 1px 2px #1c1513; }

section#accommodations .button {
  margin-top: -10px; }

section#accommodations:after {
  padding-top: 55.5170020819%; }

#family-and-friends {
  background-color: #ffffff;
  padding-bottom: 20px; }
  #family-and-friends h2 {
    color: #f6546a;
    font-weight: 200;
    font-size: 17vw;
    margin: 0;
    text-align: center; }
  #family-and-friends .accordion h2 {
    font-size: 2em; }
  #family-and-friends p {
    color: #666666;
    font-weight: 400;
    margin: 0; }
    #family-and-friends p:last-of-type {
      color: #000000;
      font-weight: 300;
      margin-top: 2em; }
  #family-and-friends .content {
    padding: 20px 11% 40px 11%; }
  #family-and-friends #hashtag {
    color: #f6546a;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center; }
    #family-and-friends #hashtag span {
      color: #666666; }

#sneak-peek {
  background-color: #ffffff;
  padding: 65px; }
  #sneak-peek h2, #sneak-peek h3, #sneak-peek p {
    color: #000000; }
  #sneak-peek h2, #sneak-peek h3 {
    font-weight: 200; }
  #sneak-peek h2 {
    font-size: 40px;
    margin-top: 0; }
  #sneak-peek h3 {
    font-size: 23px; }
    @media screen and (max-width: 480px) {
      #sneak-peek h3 {
        margin-top: 5%; } }
  #sneak-peek ul {
    margin: 0 auto; }
    @media screen and (max-width: 480px) {
      #sneak-peek ul {
        margin-top: 10%; } }
  #sneak-peek li {
    float: left;
    width: 30%;
    margin-left: 5%; }
    #sneak-peek li:first-child {
      margin-left: 0; }
    @media screen and (max-width: 480px) {
      #sneak-peek li {
        width: 100%;
        margin-left: 0;
        margin-top: 10%; } }
  #sneak-peek img {
    width: auto; }

#gift-registry {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media screen and (max-width: 480px) {
    #gift-registry {
      min-height: 55vh; } }
  #gift-registry a {
    -webkit-mask: url("/assets/zola.svg") no-repeat center;
    display: block;
    position: absolute;
    width: 33%;
    height: 28%;
    top: 33%;
    left: 33%;
    background-color: #ffffff; }
    #gift-registry a:hover {
      background-color: #F6546A; }
  #gift-registry:after {
    content: '';
    display: block;
    padding-top: 58.8194444444%; }

section#bridal-squad div.ladies,
section#bridal-squad div.gents {
  height: 100%;
  position: absolute;
  width: 50%; }
  section#bridal-squad div.ladies h2,
  section#bridal-squad div.gents h2 {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    display: inline-block;
    margin: 28% 0 0 0;
    max-width: 100%; }
    section#bridal-squad div.ladies h2:after,
    section#bridal-squad div.gents h2:after {
      display: inline-block;
      height: 3px;
      width: 100%;
      content: '';
      background-color: #ffffff;
      position: relative;
      top: -51px; }
    @media screen and (max-width: 480px) {
      section#bridal-squad div.ladies h2,
      section#bridal-squad div.gents h2 {
        margin-top: 70%;
        text-align: center; } }
  section#bridal-squad div.ladies a,
  section#bridal-squad div.gents a {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 31px;
    color: white; }
    @media screen and (max-width: 480px) {
      section#bridal-squad div.ladies a,
      section#bridal-squad div.gents a {
        line-height: 35px;
        padding-left: 0;
        padding-right: 0; } }

section#bridal-squad div.ladies {
  text-align: right; }
  section#bridal-squad div.ladies h2:after {
    background-color: #d7ae1d; }
  section#bridal-squad div.ladies a {
    color: #d7ae1d; }

section#bridal-squad div.gents {
  text-align: left;
  right: 0; }

section#bridal-squad:after {
  padding-top: 71.1111111111%; }

.instagram {
  text-align: center;
  margin-bottom: 20px; }
  .instagram .next {
    margin-bottom: 2vw; }
  .instagram .line-break {
    width: 100%; }

.instagram-images {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-wrap: wrap; }
  .instagram-images::after {
    clear: both;
    content: "";
    display: table; }

.instagram-image {
  float: left;
  margin: 0 1vw 2vw 1vw;
  height: 31vw;
  width: 31vw;
  max-height: 290px;
  max-width: 290px;
  overflow: hidden; }
  .instagram-image a {
    transition: transform .15s ease-in-out;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    .instagram-image a:hover {
      transform: scale(1.15); }

.gallery {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  bottom: 0;
  height: 100%;
  left: 0;
  list-style: none;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3; }

.gallery-row {
  max-width: 1000px;
  margin: 0 0 30px 0; }
  .gallery-row > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.gents .gallery .gallery-row {
  max-width: 700px; }

.gallery .gallery-row li {
  display: block;
  float: left;
  opacity: 0;
  padding: 7px;
  max-width: 300px;
  max-height: 300px;
  flex: 4em 1 0;
  flex-basis: 300px;
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin: 0 0 20px 20px; }
  @media screen and (max-width: 480px) {
    .gallery .gallery-row li {
      margin-left: 0; } }
  .gallery .gallery-row li a, .gallery .gallery-row li img {
    border: none;
    display: block;
    outline: none; }
  .gallery .gallery-row li.shown {
    opacity: 1; }
  .gallery .gallery-row li.animate {
    -webkit-animation: popUp 0.8s ease-in forwards;
    -moz-animation: popUp 0.8s ease-in forwards;
    animation: popUp 0.8s ease-in forwards;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d; }

@-webkit-keyframes popUp {
  0% { }
  70% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: scale(1.1);
    opacity: .8; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }

@-moz-keyframes popUp {
  0% { }
  70% {
    -moz-animation-timing-function: ease-out;
    -moz-transform: scale(1.1);
    opacity: .8; }
  100% {
    -moz-transform: scale(1);
    opacity: 1; } }

@keyframes popUp {
  0% { }
  70% {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .8; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

.gallery figure {
  cursor: pointer;
  float: left;
  height: auto;
  margin: 10px 1%;
  max-height: 100%;
  max-width: 480px;
  min-width: 98%;
  overflow: hidden;
  position: relative; }
  .gallery figure img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
    -webkit-transform: translate3d(-10px, 0, 0);
    -moz-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10px, 0, 0);
    -o-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-transition-duration: 0.35s, 0.35s;
    -moz-transition-duration: 0.35s, 0.35s;
    transition-duration: 0.35s, 0.35s;
    -webkit-transition-property: opacity, -webkit-transform;
    -moz-transition-property: opacity, -moz-transform;
    transition-property: opacity, transform;
    display: block;
    max-width: none;
    min-height: 100%;
    position: relative; }
  .gallery figure figcaption {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #fff;
    font-size: 1.25em;
    padding: 2em;
    text-align: left;
    text-transform: uppercase; }
    .gallery figure figcaption, .gallery figure figcaption > a {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .gallery figure figcaption > a {
      font-size: 0;
      opacity: 0;
      text-indent: 200%;
      white-space: nowrap;
      z-index: 1000; }
    .gallery figure figcaption:before, .gallery figure figcaption:after {
      pointer-events: none; }
  .gallery figure h2 {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    overflow: hidden;
    padding: 0.5em 0;
    position: relative;
    word-spacing: -0.15em; }
    .gallery figure h2 span {
      font-weight: 800; }
    .gallery figure h2:after {
      -webkit-transform: translate3d(-100%, 0, 0);
      -moz-transform: translate3d(-100%, 0, 0);
      -ms-transform: translate3d(-100%, 0, 0);
      -o-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      -webkit-transition-duration: 0.35s;
      -moz-transition-duration: 0.35s;
      transition-duration: 0.35s;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      transition-property: transform;
      background: #ffffff;
      bottom: 0;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      width: 100%; }
  .gallery figure h2, .gallery figure p {
    margin: 0; }
  .gallery figure p {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition-duration: 0.35s, 0.35s;
    -moz-transition-duration: 0.35s, 0.35s;
    transition-duration: 0.35s, 0.35s;
    -webkit-transition-property: opacity, -webkit-transform;
    -moz-transition-property: opacity, -moz-transform;
    transition-property: opacity, transform;
    font-size: 68.5%;
    font-weight: 400;
    letter-spacing: 1px;
    opacity: 0;
    padding: 1em 0; }
  .gallery figure:hover img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .gallery figure:hover h2:after {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .gallery figure:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.md-modal {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #616365;
  position: fixed;
  visibility: hidden;
  z-index: 3;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .md-modal img {
    width: auto; }

.md-show {
  visibility: visible; }

.md-overlay {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background: #616365;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 2; }

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible; }

.md-content {
  background: #616365;
  border-radius: 3px;
  color: #ffffff;
  margin: 0 auto;
  position: static;
  padding-top: 40px;
  max-width: 680px; }

.md-content h3 {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 0 0;
  font-size: 2.4em;
  font-weight: 400;
  margin: 0;
  opacity: 0.8;
  padding: 0.4em;
  text-align: center; }

.md-content > div {
  font-size: 1.15em;
  font-weight: 300;
  margin: 0;
  padding: 15px 40px 30px; }

.md-content > div p {
  margin: 0;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400; }

.md-content > div ul {
  margin: 0;
  padding: 0 0 30px 20px; }

.md-content > div ul li {
  padding: 5px 0; }

.md-content button {
  display: block;
  margin: 0 auto;
  font-size: 0.8em; }

.md-effect-12 .md-content {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
  opacity: 0; }

.md-show.md-effect-12 ~ .md-overlay {
  background: #616365; }

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
  background: transparent; }

.md-show.md-effect-12 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

.overlay {
  background-color: rgba(28, 21, 19, 0.97); }

.gallery .close-overlay {
  position: absolute;
  margin-top: 1.25em;
  margin-left: 1.25em;
  width: 23px;
  height: 17.25px;
  cursor: pointer;
  top: -2px;
  right: 12px; }
  .gallery .close-overlay b {
    position: absolute;
    left: 0;
    width: 23px;
    height: 2px;
    background-color: #ffffff; }
    .gallery .close-overlay b:nth-child(1) {
      top: 0; }
    .gallery .close-overlay b:nth-child(2) {
      top: 50%; }
    .gallery .close-overlay b:nth-child(3) {
      top: 100%; }

.accordion {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0; }
  .accordion .transition, .accordion p, .accordion li i:before, .accordion li i:after {
    transition: all 0.25s ease-in-out; }
  .accordion .flipIn, .accordion h1, .accordion li {
    animation: flipdown 0.5s ease both; }
  .accordion .no-select, .accordion h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .accordion p {
    color: rgba(48, 69, 92, 0.8);
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2; }
  .accordion li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted #dce7eb; }
  .accordion li:nth-of-type(1) {
    animation-delay: 0.5s; }
  .accordion li:nth-of-type(2) {
    animation-delay: 0.75s; }
  .accordion li:nth-of-type(3) {
    animation-delay: 1s; }
  .accordion li:last-of-type {
    padding-bottom: 0; }
  .accordion li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0; }
  .accordion li i:before, .accordion ul li i:after {
    content: "";
    position: absolute;
    background-color: #ff6873;
    width: 3px;
    height: 9px; }
  .accordion li i:before {
    transform: translate(-2px, 0) rotate(45deg); }
  .accordion li i:after {
    transform: translate(2px, 0) rotate(-45deg); }
  .accordion li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0; }
  .accordion li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%); }
  .accordion li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg); }
  .accordion li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg); }

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg); }
  5% {
    opacity: 1; }
  80% {
    transform: rotateX(8deg); }
  83% {
    transform: rotateX(6deg); }
  92% {
    transform: rotateX(-3deg); }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg); } }
