@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  font-size: 1em; }

body {
  -webkit-font-feature-settings: "liga kern pnum";
  -moz-font-feature-settings: "liga kern pnum";
  -ms-font-feature-settings: "liga kern pnum";
  font-feature-settings: "liga kern pnum";
  /* none, antialiased, subpixel-antialiased */
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: always;
  background-color: #060606;
  color: #ffffff;
  line-height: 1.45; }

h1,
h2,
h3,
h4 {
  font-size: 1em;
  line-height: 1.2;
  margin: 1.414em 0 0.5em;
  text-transform: uppercase; }

h1 {
  margin-top: 0;
  font-size: 3.998em; }

h2 {
  font-size: 2.827em; }

h3 {
  font-size: 1.999em; }

h4 {
  font-size: 1.414em; }

small,
.font_small {
  font-size: 0.707em; }

p {
  font-weight: 200;
  margin-bottom: 1.3em; }

ul {
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -o-padding-start: 0;
  padding-start: 0;
  -webkit-margin-before: 0;
  -moz-margin-before: 0;
  -o-margin-before: 0;
  margin-before: 0;
  -webkit-margin-after: 0;
  -moz-margin-after: 0;
  -o-margin-after: 0;
  margin-after: 0; }

a {
  -webkit-transition: color 150ms ease;
  -moz-transition: color 150ms ease;
  transition: color 150ms ease;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 600;
  text-decoration: none; }
  a:active, a:focus, a:hover {
    color: #ffffff; }

img {
  margin: 0;
  max-width: 100%;
  outline-style: none;
  width: 100%; }

section {
  min-height: 100vh;
  position: relative;
  overflow: hidden; }

#site {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0; }
  #site::after {
    clear: both;
    content: "";
    display: table; }

header {
  box-shadow: inset 0 10em 5em -3.5em rgba(0, 0, 0, 0.3);
  height: 9.375em;
  position: absolute;
  width: 100%;
  z-index: 1; }

#logo {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  -webkit-transition: opacity 150ms ease;
  -moz-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  top: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  opacity: 0.8;
  display: none;
  width: 160px;
  z-index: 1; }
  #logo:hover {
    opacity: 1; }
  #logo a {
    display: block; }

nav {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  top: 50%;
  position: absolute;
  width: 100%; }
  nav ul {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
  nav li {
    list-style-type: none;
    margin-left: 2.1875em; }
    nav li:first-child {
      margin-left: 0; }
    nav li:nth-child(3) {
      margin-right: 7.1875em; }
    nav li:nth-child(4) {
      margin-left: 7.1875em; }
  nav a {
    font-size: 0.75em;
    letter-spacing: 0.125em;
    text-transform: uppercase; }
    nav a.active {
      color: #ffffff; }

#splash {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2; }
  #splash > div {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    height: 90vh;
    position: absolute;
    width: 92vw; }

.slick-slider {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  display: block;
  position: relative; }

.slick-list {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: hand; }
  .slick-loading .slick-list {
    background: #ffffff url("/assets/ajax-loader.gif") center center no-repeat; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  display: block;
  left: 0;
  position: relative;
  top: 0; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    border: 1px solid transparent;
    display: block;
    height: auto; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-prev,
.slick-next {
  background: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  margin-top: -10px;
  outline: none;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 20px;
  z-index: 1; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    background: transparent;
    color: transparent;
    outline: none; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev:before,
  .slick-next:before {
    /* none, antialiased, subpixel-antialiased */
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-smooth: always;
    color: #ffffff;
    font-family: 'squarespace-ui-font';
    font-size: 25px;
    line-height: 1;
    opacity: 0.75; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev {
  left: 9px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: ""; }
    [dir="rtl"] .slick-prev:before {
      content: ""; }

.slick-next {
  right: 18px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: ""; }
    [dir="rtl"] .slick-next:before {
      content: ""; }

#our-story {
  background-color: #ffffff; }
  #our-story a {
    -webkit-transition: border-color 150ms ease;
    -moz-transition: border-color 150ms ease;
    transition: border-color 150ms ease;
    border: 1.09375em solid rgba(255, 255, 255, 0.65);
    display: inline-block;
    height: 100%;
    max-width: 16.75em;
    max-height: 16.75em;
    min-height: 16.75em;
    width: 100%; }
    #our-story a:first-child {
      margin-bottom: 2.1875em; }
    #our-story a:hover {
      border-color: rgba(255, 255, 255, 0.9); }
  #our-story h2 {
    border-bottom: 2px solid #dd2f37;
    color: #dd2f37;
    font-weight: 500;
    line-height: .7;
    margin-bottom: 10px;
    text-indent: 2.5em; }
  #our-story .gallery-container {
    background: url("/assets/story-names.svg") no-repeat left 15.1875em scroll;
    background-size: 35%;
    height: 100%;
    position: absolute;
    right: 13%;
    text-align: right;
    top: 25%;
    width: 27.5em; }
  #our-story .overlay {
    background-color: rgba(32, 23, 19, 0.7);
    display: none;
    flex-direction: column;
    height: 100%;
    padding: 10em;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1; }

#accommodations {
  background-color: #ffffff; }
  #accommodations h2 {
    border-bottom: 2px solid #dd2f37;
    color: #dd2f37;
    font-weight: 500;
    line-height: .7;
    margin-bottom: 10px;
    text-indent: 2.5em; }
  #accommodations h3 {
    font-size: 1.75em;
    margin-bottom: 0;
    text-transform: none; }
  #accommodations p {
    font-size: 1.125em;
    font-weight: 400;
    margin-top: 0; }
  #accommodations .section-image {
    position: relative; }
  #accommodations .content {
    position: absolute;
    margin: 100px;
    width: 25em; }
  #accommodations .button {
    background-color: #c73f42;
    border-radius: 8px;
    width: 200px;
    height: 55px;
    display: inline-block;
    text-align: center;
    line-height: 53px;
    font-weight: 400;
    color: white; }

#family-and-friends {
  background-color: #ffffff; }
  #family-and-friends h2 {
    color: #000000;
    font-weight: 200;
    font-size: 17vw;
    margin: 0;
    text-align: center; }
  #family-and-friends p {
    color: #000000;
    font-weight: 400;
    margin: 0; }
    #family-and-friends p:last-of-type {
      margin-top: 2em; }
  #family-and-friends .content {
    padding: 0 17vw; }
  #family-and-friends .hashtag {
    color: #cd446d;
    font-size: 3.25vw; }
    #family-and-friends .hashtag span {
      color: #ab1e51; }

.instagram .next {
  color: #000000; }

.instagram-images {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4em auto;
  width: 90vw; }
  .instagram-images::after {
    clear: both;
    content: "";
    display: table; }

.instagram-image {
  float: left;
  margin: 0 1vw 2vw 1vw;
  height: 20vw;
  width: 20vw;
  max-height: 290px;
  max-width: 290px;
  overflow: hidden; }
  .instagram-image a {
    transition: transform .15s ease-in-out;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    .instagram-image a:hover {
      transform: scale(1.15); }
