html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  -webkit-font-feature-settings: "liga kern pnum";
  -moz-font-feature-settings: "liga kern pnum";
  -ms-font-feature-settings: "liga kern pnum";
  font-feature-settings: "liga kern pnum";
  /* none, antialiased, subpixel-antialiased */
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: always;
  background-color: #1c1513;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

ul {
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -o-padding-start: 0;
  padding-start: 0; }

a {
  -webkit-transition: color 150ms ease;
  -moz-transition: color 150ms ease;
  transition: color 150ms ease;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none; }
  a:active, a:focus, a:hover {
    color: #ffffff; }

img {
  margin: 0;
  max-width: 100%;
  width: 100%; }

#site {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #site::after {
    clear: both;
    content: "";
    display: table; }

header {
  width: 100%;
  padding-top: 30px;
  position: relative;
  z-index: 1; }
  header h1 {
    margin: 0;
    text-align: center; }
  header img {
    width: 235px; }

nav {
  margin: -5.5625em auto 0 auto;
  width: 50.829612384em; }
  nav a {
    font-size: 0.75em;
    letter-spacing: 0.125em;
    text-transform: uppercase; }
    nav a.active {
      color: #ffffff; }
  nav li {
    list-style-type: none;
    float: left;
    display: inline-block;
    margin: 0 2em 0 0;
    padding: 0; }
    nav li:last-child {
      margin-right: 0; }
    nav li:first-child {
      margin-left: 6.1875em; }
    nav li:nth-child(3n) {
      margin-left: 18.375em; }
