.hamburger-menu {
	display: none;

	$bar-w: 23px;
	$bar-h: 2px;
	$bar-color: white;
	position: absolute;
	margin-top: 1.25em;
	margin-left: 1.25em;
	width: $bar-w;
	height: ($bar-w *3) /4;
	cursor: pointer;
	z-index: 3;

	b {
		position: absolute;
		left: 0;
		width: $bar-w;
		height: $bar-h;
		background-color: $bar-color;
		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2) {
			top: 50%;
		}
		&:nth-child(3) {
			top: 100%;
		}
	}

	&.active {
		& + nav.overlay-navigation {
			display: block;
		}
	}

	@include media($tablet) {
		display: block;
	}
}
