@mixin horizontal-list( $spacing ) {
	list-style-type: none;
	float: left;
	display: inline-block;
	margin: 0 $spacing 0 0;
	padding: 0;

	&:last-child {
		margin-right: 0;
	}
}

nav {
	margin-top: -80px;

	ul {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
	}

	li {
		list-style-type: none;
		margin-left: em( $nav-item-space );

		&:first-child {
			margin-left: 0;
		}

		&:nth-child(3) {
			margin-right: em( ( $logo-width-default / 2 ) + $nav-item-space );
		}

		&:nth-child(4) {
			margin-left: em( ( $logo-width-default / 2 ) + $nav-item-space );
		}
	}

	a {
		font-size: em( $nav-item-font-size );
		letter-spacing: em( $nav-item-letter-spacing );
		text-transform: uppercase;

		&.active {
			color: $white;
		}
	}
}
