nav {
	@include transition(padding ($base-duration * 2) $base-timing);
	@include vertical-align;
	position: absolute;
	width: 100%;

	ul {
		@include display( flex );
		@include flex-flow( row nowrap );
		@include justify-content( center );
	}

	li {
		@include transition(margin ($base-duration * 2) $base-timing);
		list-style-type: none;
		margin-left: em( $nav-item-space );

		&:first-child {
			margin-left: 0;
		}

		&:nth-child( 3 ) {
			margin-right: em( ( $logo-width-default / 2 ) + $nav-item-space );
		}

		&:nth-child( 4 ) {
			margin-left: em( ( $logo-width-default / 2 ) + $nav-item-space );
		}

		&.active {
			a {
				color: $white;
				font-weight: bold;
			}
		}
	}

	a {
		font-size: em( $nav-item-font-size );
		letter-spacing: em( $nav-item-letter-spacing );
		text-transform: uppercase;
	}

	&.float {
		background-color: #1c1513;
		padding: 10px 0;
		margin-top: 20px !important;

		a {
			font-weight: 500;
		}

		li {
			&:nth-child( 3 ) {
				margin-right: 0;
			}

			&:nth-child( 4 ) {
				margin-left: em( $nav-item-space );
			}
		}
	}
}
