header h1 {
  @include background-size(contain);
  @include hide-text;
  @include transition(opacity $base-duration $base-timing);
  @include vertical-align;

  background-repeat: no-repeat;
  display: none;
  margin: 0 auto;
  opacity: $logo-opacity-default;
  width: $logo-width-default;
  z-index: $logo-zindex;

  @include media($mobile) {
    width: 6rem;
  }

  &:hover {
    opacity: $logo-opacity-hover;
  }

  a {
    display: block;
  }
}
