#logo {
	@include hide-text;
	@include transition(opacity $base-duration $base-timing);
	@include vertical-align;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 auto;
	opacity: $logo-opacity-default;
	display: none;
	width: $logo-width-default;
	z-index: $logo-zindex;

	&:hover {
		opacity: $logo-opacity-hover;
	}

	a {
		display: block;
	}

	@include media($mobile) {
		width: 6rem;
	}
}
