.gallery li {
	display: block;
	float: left;
	opacity: 0;
	padding: 7px;
	width: 33%;

	a, img {
		border: none;
		display: block;
		max-width: 100%;
		outline: none;
	}

	&.shown {
		opacity: 1;
	}

	&.animate {
		@include animation(popUp .8s ease-in forwards);
		@include transform(scale(0.4));
		@include transform-style(preserve-3d);
	}
}

@include keyframes(popUp) {
	0% {}
	70% {
		@include animation-timing-function(ease-out);
		@include transform(scale(1.1));
		opacity: .8;
	}
	100% {
		@include transform(scale(1));
		opacity: 1;
	}
}

@media screen and (max-width: 900px) {
	.gallery li {
		width: 50%;
	}
}

@media screen and (max-width: 400px) {
	.gallery li {
		width: 100%;
	}
}
