.gallery .gallery-row li {
  @include flex-basis(300px);
  @include flex(4em 1 0);
  display: block;
  float: left;
  height: 300px;
  margin: 0 0 20px 20px;
  max-height: 300px;
  max-width: 300px;
  min-height: 300px;
  min-width: 300px;
  opacity: 0;
  padding: 7px;
  width: 300px;

  @include media($mobile) {
    margin-left: 0;
  }

  a,
  img {
    border: 0;
    display: block;
    outline: none;
  }

  &.shown {
    opacity: 1;
  }

  &.animate {
    @include animation(popUp .8s ease-in forwards);
    @include transform(scale(.4));
    @include transform-style(preserve-3d);
  }
}

@include keyframes(popUp) {
  70% {
    @include animation-timing-function(ease-out);
    @include transform(scale(1.1));
    opacity: .8;
  }

  100% {
    @include transform(scale(1));
    opacity: 1;
  }
}
