.gallery-row {
  margin: auto 0;
  max-width: 1000px;

  ul {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(center);
  }
}

.gents .gallery .gallery-row {
  max-width: 700px;
}
