// Header
// ------------------------------
$header-height-default: 150px;

// Logo
// ------------------------------
$logo-width-default: 160px;

// Nav
// ------------------------------
$nav-item-space: 35px;

// Section Images
// ------------------------------
$section-image-our-story-height: 800px;
$section-image-our-story-width: 1441px;
$section-image-bridal-squad-height: 1024px;
$section-image-bridal-squad-width: 1440px;
$section-image-accommodations-height: 800px;
$section-image-accommodations-width: 1441px;
$section-image-gift-registry-height: 847px;
$section-image-gift-registry-width: 1440px;
