// Header
// ------------------------------
$header-height-default: 150px;

// Logo
// ------------------------------
$logo-width-default: 160px;

// Nav
// ------------------------------
$nav-item-space: 35px;
