$grid-columns: 12;
$column: 80px;
$gutter: 20px;
$max-width: 1200px;

$visual-grid: false;
$visual-grid-color: #1c1513;
$visual-grid-index: front;
$visual-grid-opacity: 0.25;

$tablet: new-breakpoint(max-width 1060px 8);
$mobile: new-breakpoint(max-width 480px 4);
