$grid-columns: 12;


$column: 80px;
$gutter: 20px;
// $grid-columns: 12;
// $max-width: 1200px;



$max-width: 1200px;

$visual-grid: false;
$visual-grid-color: $white;
$visual-grid-index: front;
$visual-grid-opacity: 0.25;
