// Logo
// ------------------------------
$logo-opacity-default: .80;
$logo-opacity-hover: 1;

// Hero
// ------------------------------
$hero-opacity-default: .75;
$hero-opacity-on-hover: 1;
$hero-opacity-not-active: .25;

// Links
// ------------------------------
$link-opacity-default: .75;
$link-opacity-hover: 1;
