// Logo
// ------------------------------
$logo-opacity-default: 0.90;
$logo-opacity-hover: 1;

// Hero
// ------------------------------
$hero-opacity-default: 0.75;
$hero-opacity-on-hover: 1;
$hero-opacity-not-active: 0.25;
