// Header
// ------------------------------
$header-height: 150px;

// Logo
// ------------------------------
$logo-width-default: 160px;

// Nav
// ------------------------------
$nav-item-space: 35px;

// Button
// ------------------------------
$button-height: 36px;
$button-line-height: 36px;
$button-width: 200px;

// Overlay
// ------------------------------
$overlay-close-bar-height: 2px;
$overlay-close-bar-width: 23px;
$overlay-close-width: $overlay-close-bar-width;
$overlay-close-height: ($overlay-close-bar-width * 3) / 4;

// Contrasting Title
// ------------------------------
$contrasting-title-height: 100px;
$contrasting-title-height-mobile: 72px;
$contrasting-title-line-height: 164px;
$contrasting-title-line-height-mobile: 117px;

// Section Images
// ------------------------------
$section-image-our-story-height: 800px;
$section-image-our-story-width: 1441px;
$section-image-bridal-squad-height: 1024px;
$section-image-bridal-squad-width: 1440px;
$section-image-accommodations-height: 800px;
$section-image-accommodations-width: 1441px;
$section-image-gift-registry-height: 847px;
$section-image-gift-registry-width: 1440px;
