$base-font-color: $white;
$base-font-size: 1em;
$base-heading-line-height: 1.2;
$base-line-height: 1.45;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

$small-spacing: $base-spacing / 2;

// Nav
// ------------------------------
$nav-item-font-size: 12px;
$nav-item-letter-spacing: 2px;

// Link
// ------------------------------
$link-weight-default: 600;

// Button
// ------------------------------
$button-font-weight: 500;
$button-font-size-shared: 1.3rem;
$button-large-icon-font-size: 1.6rem;
