$splash-zindex: 2;

$header-zindex: 1;

$hero-arrow-zindex: 1;

$logo-zindex: 1;

$waves-effect-zindex: 1;

$gallery-overlay-close-zindex: 1;
$gallery-zindex: 3;

$header-default-zindex: 2;
$header-mobile-portrait-zindex: 3;

$section-story-names-zindex: -1;
$section-story-overlay-zindex: 2;
