.instagram-image {
  float: left;
  height: 31vw;
  margin: 0 1vw 2vw;
  max-height: 290px;
  max-width: 290px;
  overflow: hidden;
  width: 31vw;

  a {
    @include background-size(cover);
    @include transition(all .15s ease-in-out);
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100%;
    width: 100%;

    &:hover {
      @include transform(scale(1.15));
    }
  }
}
