// TODO: Clean up with settings/variables. Repetitive code.
#accommodations {
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	h2 {
		background-color: $white;
		border-bottom: 2px solid $brand-red;
		color: $brand-red;
		font-weight: 500;
		line-height: .7;
		margin: 0;
		padding-top: 64px;
		text-indent: em( 40px );
	}

	h3 {
		font-size: em( 28px );
		margin-bottom: 0;
		text-transform: none;
	}

	p {
		font-size: em( 18px );
		font-weight: 400;
		margin-top: 0;
	}

	.section-image {
		position: relative;
	}

	.content {
		position: absolute;
		margin: 100px;
		width: em( 400px );
	}

	.button {
		background-color: #c73f42;
		border-radius: 8px;
		width: 200px;
		height: 55px;
		display: inline-block;
		text-align: center;
		line-height: 53px;
		font-weight: 400;
		color: white;
	}

	&:after {
		content: '';
		display: block;
		padding-top: percentage($section-image-accommodations-height / $section-image-accommodations-width);
	}
}
