#bridal-squad {
	background-color: $white;

	.gents, .ladies {
		@include background-size(cover);
		@include transition(all ($base-duration * 2) $base-timing);
		background-attachment: scroll;
		background-position: center center;
		background-repeat: no-repeat;
		cursor: pointer;
		height: 100%;
		position: absolute;
		width: 50%;

		&:after {
			@include background-size(cover);
			background-attachment: scroll;
			background-position: center center;
			background-repeat: no-repeat;
			content: '';
			cursor: pointer;
			display: block;
			height: 100%;
			opacity: 0;
			position: absolute;
			width: 100%;
		}

		&:hover, &.active {
			&:after {
				opacity: 1;
			}
		}
	}

	.ladies {
		background-image: url('/assets/bridal_squad_left_default.jpg');
		left: 0;

		&:hover, &.active {
			&:after {
				background-image: url('/assets/bridal_squad_left_hover.jpg');
			}
		}
	}

	.gents {
		background-image: url('/assets/bridal_squad_right_default.jpg');
		right: 0;

		&:hover, &.active {
			&:after {
				background-image: url('/assets/bridal_squad_right_hover.jpg');
			}
		}
	}

	&:after {
		content: '';
		display: block;
		padding-top: percentage($section-image-bridal-squad-height / $section-image-bridal-squad-width);
	}

	&.open {
		.ladies {
			@include transform(translate3d(-100%, 0, 0));
		}

		.gents {
			@include transform(translate3d(100%, 0, 0));
		}
	}

}
