// TODO: Clean up with settings/variables.
#family-and-friends {
	background-color: $white;

	h2 {
		color: $black;
		font-weight: 200;
		font-size: 17vw;
		margin: 0;
		text-align: center;
	}

	p {
		color: $black;
		font-weight: 400;
		margin: 0;

		&:last-of-type {
			margin-top: 2em;
		}
	}

	.content {
		padding: 0 17vw;
	}

	.hashtag {
		color: #cd446d;
		font-size: 3.25vw;

		span {
			color: #ab1e51;
		}
	}
}
