// TODO: Clean up with settings/variables.
#our-story {
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	a {
		@include transition( border-color $base-duration $base-timing );

		border: em( 17.5px ) solid rgba(255,255,255,0.65);
		display: inline-block;
		height: 100%;
		max-width: em( 268px );
		max-height: em( 268px );
		min-height: em( 268px );
		width: 100%;

		&:first-child {
			margin-bottom: em( 35px );
		}

		&:hover {
			border-color: rgba( 255, 255, 255, 0.9 );
		}
	}

	h2 {
		background-color: $white;
		border-bottom: 2px solid $brand-red;
		color: $brand-red;
		font-weight: 500;
		line-height: .7;
		margin: 0;
		padding-top: 64px;
		text-indent: em( 40px );
	}

	.gallery-container {
		background: url( '/assets/story-names.svg' ) no-repeat left em( 243px ) scroll;
		background-size: 35%;
		height: 100%;
		position: absolute;
		right: 13%;
		text-align: right;
		top: 25%;
		width: em( 440px );
	}

	.overlay {
		background-color: rgba( 32, 23, 19, .7 );
		display: none;
		flex-direction: column;
		height: 100%;
		padding: 10em;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 1;
	}

	&:after {
		content: '';
		display: block;
		padding-top: percentage($section-image-our-story-height / $section-image-our-story-width);
	}
}
