// scss-lint:disable IdSelector
#gift-registry { // scss-lint:enable IdSelector
  @include background-size(cover);
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;

  @include media($mobile) {
    min-height: 55vh;
  }

  a {
    background-color: $white;
    display: block;
    height: 28%;
    left: 33%;
    // scss-lint:disable VendorPrefix
    -webkit-mask: url('/assets/zola.svg') no-repeat center;
    position: absolute;
    top: 33%;
    width: 33%;

    &:hover {
      background-color: color('castacencio-red', 'lighten-1');
    }
  }

  &:after {
    content: '';
    display: block;
    padding-top: percentage($section-image-gift-registry-height / $section-image-gift-registry-width);
  }
}
