section#bridal-squad {
	div.ladies,
	div.gents {
		height: 100%;
		position: absolute;
		width: 50%;

		h2 {
			@include transition(all ($base-duration * 2) $base-timing);
			display: inline-block;
			margin: 28% 0 0 0;
			max-width: 100%;

			&:after {
				display: inline-block;
				height: 3px;
				width: 100%;
				content: '';
				background-color: $white;
				position: relative;
				top: -51px;
			}

			@include media($mobile) {
				margin-top: 70%;
				text-align: center;
			}
		}

		a {
			display: inline-block;
			padding-left: 40px;
			padding-right: 40px;
			line-height: 31px;
			color: white;

			@include media($mobile) {
				line-height: 35px;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	div.ladies {
		text-align: right;

		h2 {
			&:after {
				background-color: #d7ae1d;
			}
		}

		a {
			color: #d7ae1d;
		}
	}

	div.gents {
		text-align: left;
		right: 0;
	}

	&:after {
		padding-top: percentage($section-image-bridal-squad-height / $section-image-bridal-squad-width);
	}
}
