// scss-lint:disable IdSelector
#our-story { // scss-lint:enable IdSelector
  .gallery-container {
    @include centerer;
    left: 70%;
    text-align: right;
    width: 440px;

    @include media($mobile) {
      left: 50%;
      text-align: center;
    }

    a {
      @include transition(border-color $base-duration $base-timing);
      border: 10px solid rgba(255, 255, 255, .65);
      display: inline-block;
      height: 100%;
      max-height: em(268px);
      max-width: em(268px);
      min-height: em(268px);
      width: 100%;

      &:first-child {
        margin-bottom: em(35px);
      }

      &:hover {
        border-color: rgba(255, 255, 255, .9);
      }
    }

    &:after {
      background: url('/assets/story-names.svg') no-repeat left em(243px) scroll;
      background-size: 35%;
      content: '';
      display: block;
      padding-top: percentage(450px / 363px);
      position: absolute;
      top: 0;
      width: 100%;
      z-index: $section-story-names-zindex;

      @include media($mobile) {
        display: none;
      }
    }
  }

  .overlay {
    @include overflow-scrolling;
    background-color: $overlay-color;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    padding: 2rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: $section-story-overlay-zindex;

    .overlay-content {
      margin: 5rem auto;
      max-width: 50%;
      position: static;

      @include media($mobile) {
        margin: 1rem auto;
        max-width: none;
      }

      p {
        color: rgba(255, 255, 255, .6);
        font-weight: 400;
      }

      strong {
        color: $white;
      }
    }
  }

  &:after {
    padding-top: percentage($section-image-our-story-height / $section-image-our-story-width);
  }

  .close-overlay {
    $bar-color: $white;
    $bar-h: 2px;
    $bar-w: 23px;
    cursor: pointer;
    height: ($bar-w *3) /4;
    margin-left: 1.25em;
    margin-top: 1.25em;
    position: absolute;
    right: 10%;
    top: 3%;
    width: $bar-w;
    z-index: 3;

    b {
      background-color: $bar-color;
      height: $bar-h;
      left: 0;
      position: absolute;
      width: $bar-w;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
      }

      &:nth-child(3) {
        top: 100%;
      }
    }
  }
}
