// scss-lint:disable QualifyingElement IdSelector
#bridal-squad { // scss-lint:enable IdSelector
  div.ladies,
  div.gents {
    height: 100%;
    position: absolute;
    width: 50%;

    h2 {
      @include transition(all ($base-duration * 2) $base-timing);
      display: inline-block;
      margin: 28% 0 0;
      max-width: 100%;

      @include media($mobile) {
        margin-top: 70%;
        text-align: center;
      }

      &:after {
        background-color: $white;
        content: '';
        display: inline-block;
        height: 3px;
        position: relative;
        top: -51px;
        width: 100%;
      }
    }

    a {
      color: $white;
      display: inline-block;
      line-height: 31px;
      padding-left: 40px;
      padding-right: 40px;

      @include media($mobile) {
        line-height: 35px;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  div.ladies {
    text-align: right;

    h2 {
      &:after {
        background-color: $section-squad-accent-color;
      }
    }

    a {
      color: $section-squad-accent-color;
    }
  }

  div.gents {
    right: 0;
    text-align: left;
  }

  &:after {
    padding-top: percentage($section-image-bridal-squad-height / $section-image-bridal-squad-width);
  }
}
// scss-lint:enable QualifyingElement
