#gift-registry {
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	@include media($mobile) {
		min-height: 55vh;
	}

	a {
		-webkit-mask: url("/assets/zola.svg") no-repeat center;
		display: block;
		position: absolute;
		width: 33%;
		height: 28%;
		top: 33%;
		left: 33%;
		background-color: $white;

		&:hover {
			background-color: #F6546A;
		}
	}

	&:after {
		content: '';
		display: block;
		padding-top: percentage($section-image-gift-registry-height / $section-image-gift-registry-width);
	}
}
