// TODO: Clean up with settings/variables.
#sneak-peek {
	background-color: $white;
	padding: 65px;

	h2, h3, p {
		color: $black;
	}

	h2, h3 {
		font-weight: 200;
	}

	h2 {
		font-size: 40px;
		margin-top: 0;
	}

	h3 {
		font-size: 23px;

		@include media($mobile) {
			margin-top: 5%;
		}
	}

	ul {
		margin: 0 auto;

		@include media($mobile) {
			margin-top: 10%;
		}
	}

	li {
		float: left;
		width: 30%;
		margin-left: 5%;

		&:first-child {
			margin-left: 0;
		}

		@include media($mobile) {
			width: 100%;
			margin-left: 0;
			margin-top: 10%;
		}


	}

	img {
		width: auto;
	}
}
