// scss-lint:disable IdSelector
#family-and-friends { // scss-lint:enable IdSelector
  background-color: $white;
  padding-bottom: 20px;

  h2 {
    color: color('castacencio-red', 'lighten-2');
    font-size: 17vw;
    font-weight: 200;
    margin: 0;
    text-align: center;
  }

  .accordion h2 {
    font-size: 2em;
  }

  p {
    color: color('shades', 'base');
    font-weight: 400;
    margin: 0;

    &:last-of-type {
      color: $black;
      font-weight: 300;
      margin-top: 2em;
    }
  }

  .content {
    padding: 20px 11% 40px;
  }

  // scss-lint:disable IdSelector
  #hashtag { // scss-lint:enable IdSelector
    color: color('castacencio-red', 'lighten-2');
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;

    span {
      color: color('shades', 'base');
    }
  }
}
